/* General Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', sans-serif;
  background: linear-gradient(to right, #dbeafe, #e0f2fe);
  min-height: 100vh;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
  border: none;
  background: none;
}

/* Header Styles */
.head {
  background: #dbeafe;
}

.head .nbar {
  display: flex;
  padding: 20px;
  align-items: center;
  justify-content: space-between; /* ensures space between logo and rest */
  position: relative;
}

.nbar .nlogo {
  color: black;
}

.nbar .nmenu {
  display: flex;
  gap: 10px;
  margin-left: auto; /* this pushes it to the right-most end */
  align-items: center;
}

.nbar .nmenu .nlink {
  padding: 3px 5px;
  color: black;
  border-radius: 20px;
  transition: 0.3s ease;
}

.nbar .nmenu .nlink:hover {
  color: black;
  background: rgb(98, 186, 216);
}

.nbar :where(#menclose, #menopen) {
  display: none;
}

/* Mobile Responsiveness */
@media screen and (max-width: 900px) {
  body.show-mobile-menu .head::before {
    content: "";
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    backdrop-filter: blur(5px);
    background: rgba(0,0,0,0.2);
  }

  .nbar :where(#menclose, #menopen) {
    display: block;
    font-size: 18px;
  }

  .nbar #menclose {
    position: absolute;
    right: 30px;
    top: 30px;
  }

  .nbar .nmenu {
    display: block;
    position: fixed;
    left: -300px;
    top: 0;
    width: 250px;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding-top: 100px;
    align-items: center;
    background: white;
    transition: left 0.2s ease;
    margin-left: 0; /* override desktop auto-margin */
  }

  body.show-mobile-menu .nbar .nmenu {
    left: 0;
  }

  .nbar .nmenu .nlink {
    color: darkcyan;
    display: block;
    margin-top: 17px;
    font-size: 22px;
  }
}
.logo-text{
   margin-right: 500px;
}
